/*-----------------------------------*\
  #index.css
\*-----------------------------------*/

/**
 * copyright 2024 @codebyroland
 */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


body {
    background-color: hsl(252, 100%, 12%);
    ;
}

html {
    font-size: 52.5%;
}

.container {
    font-family: sans-serif;
  }
  
  nav.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 30px;
    background: #150849;
    -webkit-box-shadow: 0 10px 20px #00000030;
            box-shadow: 0 10px 20px #00000030;
  }
  
  nav.navbar .navbar-brand .logo {
    font-size: 36px;
    font-weight: 600;
    text-shadow: 0 5px 5px #00000030;
  }
  
  nav.navbar .navbar-list .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  nav.navbar .navbar-list .nav-ul .nav-li {
    list-style-type: none;
    margin-left: 30px;
  }
  
  nav.navbar .navbar-list .nav-ul .nav-li:nth-child(1) {
    margin-left: 0;
  }
  
  nav.navbar .navbar-list .nav-ul .nav-li .nav-link {
    text-decoration: none;
    color: grey;
    font-size: 22px;
    font-weight: 500;
  }
  
  nav.navbar .navbar-list .nav-ul .nav-li .nav-link:hover {
    color: #259dff;
  }
  
  nav.navbar .menu {
    display: none;
    cursor: pointer;
  }
  
  nav.navbar .menu span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px;
    background: #259dff;
    border-radius: 10px;
  }
  
  @media screen and (max-width: 1024px) {
    nav.navbar .navbar-list {
      background: #ffffff;
      position: absolute;
      top: 100%;
      left: 0;
      padding-left: 30px;
      width: 100%;
      overflow: hidden;
      height: 0;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    nav.navbar .navbar-list .nav-ul {
      position: absolute;
      top: 0;
      left: 30px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    nav.navbar .navbar-list .nav-ul .nav-li {
      margin: 0 0 10px;
    }
    nav.navbar .menu-active {
      height: 150px;
    }
    nav.navbar .menu {
      display: block;
    }
  }
  


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
}

.header__summary {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: start;
    width: 100%;
}

.header__summary p {
    color: white;
    font-size: 2.6rem;
    padding: 2rem 0rem;
}

.header__img--image1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.header__img {
    flex-basis: 50%;
    padding: 2rem;
    width: 100%;
}

.header__img--image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.podcast-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 4rem;
    padding-top: 15rem;
}

.podcast-list-img {
    height: 32rem;
    width: 32rem;
}

.podcast-list-image{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    padding-bottom: 1.5rem;
}

.podcast-list-details, p, h3 {
    color: white;
}

.podcast-list-date {
    display: flex;
    justify-content: space-between;
}

.podcast-list p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.podcast-list h3 {
    font-size: 2rem;
}

.footer {
    padding-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-img {
    padding-bottom: 3rem;
}

.footer-p {
    font-size: 2rem;
    padding-bottom: 3rem;
}

.footer-container {
    text-align: center;
    padding: 6rem;
    font-size: 2.5rem;
}

.footer-contact {
    color: white;
    font-size: 2.5rem;
    padding-bottom: 3rem;
}

.footer-contact h3 {
    padding-bottom: 2rem;
}

.footer-contact li {
    list-style: none;
}

.footer-socials {
    color: white;
    font-size: 2.5rem;
}

.footer-socials li{
    list-style: none;
    padding-bottom: 1rem;
}





@media screen and (max-width: 900px) {

    .nav-bar .fa-bars {
        display: block;
        font-size: 3rem;
        color: white;
    }

    .header {
        padding: 3rem 0rem;
        flex-direction: column;
    }

    .nav-item {
        display: none;
    }

    .nav {
        max-width: 650px;
        padding: 2rem 0;
        margin: 0 auto;
        justify-content: space-between;
    }

    .container {
        max-width: 650px;
    }

}

@media screen and (max-width: 780px) {
    .container, .nav {
        max-width: 550px;
    }

    .footer {
        display: column;
    }
}

@media screen and (max-width: 650px) {
    .container, .nav {
        max-width: 450px;
    }
}


@media screen and (max-width: 499px) {
    .container, .nav {
        max-width: 495px;
        padding: 2rem 3rem;
    }

    .header p {
        font-size: 2rem;
    }
}